{erl_opts, [debug_info, fail_on_warning, warnings_as_errors]}.
{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{dialyzer_opts, [{warnings, [on_return,
  no_unused,
  no_improper_lists,
  no_fun_app,
  no_match,
  no_opaque,
  no_fail_call,
  error_handling,
  race_conditions,
  behaviours,
  unmatched_returns]}]}.
{lib_dirs, ["deps"]}.
{require_otp_vsn, "R15"}.
{deps, [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
  {rjsonrpc2, "0.*", {git, "https://github.com/imprest/rjsonrpc2.git", "master"}}
 ]
}.
