body {
}
.sidebar-view {
  padding-left: 10px;
  float: left;
  width: 400px;
  background-color: whitesmoke;
}

.login-view button {
  position: relative;
  top: -4px;
}

.chatboxes-view {
  float: left;
  width: 100%;
}

.chatbox-view {
  width: 200px;
  height: 350px;
}
